configuration{
    modi: "drun";
    icon-theme: "Oranchelo";
    show-icons: true;
    terminal: "ghostty";
    font: "JetBrainsMono Nerd Font Mono 8";
    drun-display-format: "{icon} {name}";
    display-drun: "";
}

@theme "catppuccin-mocha"
